# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#CodeSection2
import pandas as pd

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [ ]:
 # drive path = '/content/drive/MyDrive/'

In [3]:
#CodeSection3
train = pd.read_csv('/content/drive/MyDrive/ML Classification Course/2 Cross Sell Prediction/input/train.csv')
test = pd.read_csv('/content/drive/MyDrive/ML Classification Course/2 Cross Sell Prediction/input/train.csv')

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [4]:
#CodeSection4
train.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [5]:
#CodeSection5
train.describe(include = 'all')

                   id  Gender  ...        Vintage       Response
count   381109.000000  381109  ...  381109.000000  381109.000000
unique            NaN       2  ...            NaN            NaN
top               NaN    Male  ...            NaN            NaN
freq              NaN  206089  ...            NaN            NaN
mean    190555.000000     NaN  ...     154.347397       0.122563
std     110016.836208     NaN  ...      83.671304       0.327936
min          1.000000     NaN  ...      10.000000       0.000000
25%      95278.000000     NaN  ...      82.000000       0.000000
50%     190555.000000     NaN  ...     154.000000       0.000000
75%     285832.000000     NaN  ...     227.000000       0.000000
max     381109.000000     NaN  ...     299.000000       1.000000

[11 rows x 12 columns]

In [ ]:
#CodeSection6
# Convert/Map Load_Status (Y/N) to  (1/0)
# Only do this step if you have non-numerical label in the "y" variable

In [6]:
#CodeSection7
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [7]:
#CodeSection8
test.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [8]:
#CodeSection9
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

In [9]:
#CodeSection10
test.describe(include = 'all')

                   id  Gender  ...        Vintage       Response
count   381109.000000  381109  ...  381109.000000  381109.000000
unique            NaN       2  ...            NaN            NaN
top               NaN    Male  ...            NaN            NaN
freq              NaN  206089  ...            NaN            NaN
mean    190555.000000     NaN  ...     154.347397       0.122563
std     110016.836208     NaN  ...      83.671304       0.327936
min          1.000000     NaN  ...      10.000000       0.000000
25%      95278.000000     NaN  ...      82.000000       0.000000
50%     190555.000000     NaN  ...     154.000000       0.000000
75%     285832.000000     NaN  ...     227.000000       0.000000
max     381109.000000     NaN  ...     299.000000       1.000000

[11 rows x 12 columns]

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [10]:
train.groupby('Vehicle_Damage').sum()

                         id      Age  ...   Vintage  Response
Vehicle_Damage                        ...
No              35988567907  6534925  ...  29157649       982
Yes             36633657588  8260711  ...  29665533     45728

[2 rows x 9 columns]

In [11]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
train['Vehicle_Damage'].value_counts()

Yes    192413
No     188696
Name: Vehicle_Damage, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [12]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f" Probability of buying loan with Vehicle_Damage: {45728/192413:0.1%}")
print(f" Probability of buying loan without Vehicle_Damage: {982/188696:0.1%}")

 Probability of buying loan with Vehicle_Damage: 23.8%
 Probability of buying loan without Vehicle_Damage: 0.5%

### Observation
- Married Applicants have a higher probability of getting a Loan
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [13]:
#CodeSection14
train['Prediction'] = train['Vehicle_Damage'].apply(lambda x: 1 if x == "Yes" else 0)

In [14]:
train.head()

   id  Gender  Age  ...  Vintage  Response  Prediction
0   1    Male   44  ...      217         1           1
1   2    Male   76  ...      183         0           0
2   3    Male   47  ...       27         1           1
3   4    Male   21  ...      203         0           0
4   5  Female   29  ...       39         0           0

[5 rows x 13 columns]

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [15]:
#CodeSection15
train.groupby('Vehicle_Damage').sum()

                         id      Age  ...  Response  Prediction
Vehicle_Damage                        ...
No              35988567907  6534925  ...       982           0
Yes             36633657588  8260711  ...     45728      192413

[2 rows x 10 columns]

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [16]:
#CodeSection16
from sklearn.metrics import accuracy_score

In [17]:
#CodeSection17
y_actual = train['Response']
y_pred = train['Prediction']

In [18]:
#CodeSection18
print(f" Train Accuracy : {accuracy_score(y_actual, y_pred):0.1%}")

 Train Accuracy : 61.3%

***Q : What accuracy do you observe?***

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [24]:
#CodeSection19
test['Response_Pred'] = test['Vehicle_Damage'].apply(lambda x: 1 if x == "Yes" else 0)

In [25]:
#CodeSection20
#\=-09
test.groupby('Vehicle_Damage').sum()

                         id      Age  ...  Response  Response_Pred
Vehicle_Damage                        ...
No              35988567907  6534925  ...       982              0
Yes             36633657588  8260711  ...     45728         192413

[2 rows x 10 columns]

In [26]:
#CodeSection21
# We will use (Y/N) to match it to the Competition Submission Data
test['Response_Pred'] = test['Vehicle_Damage'].apply(lambda x: 'Y' if x == "Yes" else 'N')

*Use **value_counts()** to check your prediction split*

In [27]:
#CodeSection21
test['Response_Pred'].value_counts()

Y    192413
N    188696
Name: Response_Pred, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [28]:
#CodeSection22
sample_submission = pd.read_csv('/content/drive/MyDrive/ML Classification Course/2 Cross Sell Prediction/input/sample_submission.csv')
sample_submission.head()

       id  Response
0  381110         0
1  381111         0
2  381112         0
3  381113         0
4  381114         0

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [32]:
#CodeSection23
submission = pd.DataFrame({
    'id' : test['id']   ,
    'Response' : test['Response_Pred']
})

In [33]:
submission.head()

   id Response
0   1        Y
1   2        N
2   3        Y
3   4        N
4   5        N

### Export Submission File
- Export to output folder

In [34]:
#CodeSection24
# Ensure you don't export the index.
submission.to_csv('/content/drive/MyDrive/ML Classification Course/2 Cross Sell Prediction/output/If_Then_Output.csv', index=False)

In [ ]:
# LB Accuracy : <Write Leaderboard Score here>